

<br><br> <br> <br>


<div class="container">

    <div class="jumbotron text-center" style="background-color: transparent">
        <h1 class="display-4"  style="color:azure">SEARCH FOOD</h1>
        <form>
            <div class="input-group input-group-lg " >
              <input type="text" class="form-control" placeholder="SEARCH" style="background-color:lightblue">
            
            </div>
          </form>
      </div>
      <br><br> <br> <br>

  <div class="card-deck">
    <div class="card ">
      <img src="/assets/images/breakfast.jpg"  height=250 width=255 />
      <div class="card-body text-center">

        <p class="card-text" style="font-size: 20pt">Breakfast</p>

      </div>
    </div>
    <div class="card ">
      <img src="/assets/images/lunch.jpeg" height=250 width=255 />
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 20pt">Lunch</p>
      </div>
    </div>
    <div class="card ">
      <img src="/assets/images/dinner.jpg" height=250 width=255 />
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 20pt">Dinner</p>
      </div>
    </div>
    <div class="card ">
      <img src="/assets/images/breakfast.jpg" height=250 width=255 />
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 20pt">Tiffin Services</p>
      </div>
    </div>
  </div>
</div> 